<div class="file">
  <div class="flex-horizontal">
    <img src="/icons/file.svg" alt="file" />
    <a href="<%= file.url %>" target="_blank">
      <p><b><%= file.savedFilename || 'Untitled file' %></b></p>
    </a>
  </div>
  <form
    action="/drive/delete-file/<%= file.id %>"
    method="post"
    class="deleteItemForm"
  >
    <button type="submit" class="transparent-button">
      <img src="/icons/delete.svg" alt="delete" />
    </button>
  </form>
</div>
<hr />
