<div class="file">
  <div class="flex-horizontal">
    <img src="/icons/file.svg" alt="file" />
    <!-- <p><b><%= // locals.folder.name || 'Folder' %></b></p> -->
    <p><b>File</b></p>
  </div>
  <!-- <a href="/actions/folder/delete:<%= // locals.folder.id || '' %>">Delete</a> -->
  <a href="/drive%>"><img src="/icons/delete.svg" alt="delete" /></a>
</div>
<hr />
