<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head', {stylesheets: ['home.css', 'item.css']}) %>
  </head>
  <body>
    <nav>
      <p><img src="/icons/odin-logo.svg" alt="logo" />Odin Drive</p>
      <a href="/logout">Logout</a>
    </nav>
    <main>
      <div class="container-div">
        <header>
          <h2>My Drive</h2>
          <div>
            <button onclick="showDialog('new-folder-dialog')">
              New Folder
            </button>
            <button>New File</button>
          </div>
        </header>
        <div class="file-display">
          <%- include('./components/folder') %> <%- include('./components/file')
          %>
        </div>
        <div class="file-footer">
          <p><b>File path: </b><%= 'My Drive' %></p>
        </div>
      </div>
    </main>

    <dialog id="new-folder-dialog">
      <div>
        <button
          class="close-dialog-btn"
          onclick="closeDialog('new-folder-dialog')"
        >
          <img src="/icons/close.svg" alt="close dialog" />
        </button>
        <form action="/drive/create-folder" method="post">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Untitled folder"
          />
          <button type="submit">Create</button>
        </form>
      </div>
    </dialog>

    <script>
      function showDialog(id) {
        const dialog = document.getElementById(id);
        dialog.showModal();
      }
      function closeDialog(id) {
        const dialog = document.getElementById(id);
        dialog.close();
      }
    </script>
  </body>
</html>
