<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <div>
      <img src="/odin-logo.svg" alt="logo" />
      <h1>Odin Drive</h1>
    </div>

    <div class="card">
      <h2>Login to Continue</h2>
      <form action="/login" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
        <button type="submit">Login</button>
      </form>
      <p>Don't have an account yet? <a href="/signup">Sign Up</a></p>
    </div>
  </body>
</html>
