<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odin Drive</title>
  </head>
  <body>
    <div class="card">
      <h2>Sign In</h2>
      <form action="/signup" method="post">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" />
        <label for="lastName">First Name</label>
        <input type="text" name="lastName" id="lastName" />

        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />

        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
