:root {
  /* colors */
  --color-canvas: #f3f4f6;
  --color-canvas-darker: #e2e8f0;
  --color-canvas-even-darker: #dae1eb;
  --color-canvas-lighter: #ffffff;

  --color-text-co: #030712;

  --color-primary: #e17100;
  --color-primary-lighter: #fd9a00;
  --color-primary-even-lighter: #faab57;
  --color-primary-darker: #bb4d00;

  /* spacing */
  --half-padding: calc(var(--default-padding) / 2);
  --default-padding: 1rem;
  --double-padding: calc(var(--default-padding) * 2);

  /* style */
  --default-border-radius: 10px;
  --default-box-shadow: 2.5px 2.5px 10px 0px rgba(0, 0, 0, 0.1);

  /* transition */
}

/* ------------------------------------------------------------------------------------------------ */

main {
  justify-content: start;
  padding: var(--double-padding);
  padding-bottom: 0;
  height: fit-content;
  min-height: fit-content;
}
.container-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;

  width: 100%;
  height: calc(100lvh - 3rem - var(--double-padding));
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.container-div > * {
  padding: var(--default-padding) var(--double-padding);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-canvas);
  border-top-left-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
}
.file-display {
  height: 100%;
}
.file-display a {
  color: var(--color-text-co);
  text-decoration: none;
}
.file-footer {
  background-color: var(--color-canvas);
}

dialog > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--default-padding);
}
#new-file-dialog {
  width: 15rem;
}
#new-file-dialog #file {
  display: none;
}
#new-file-dialog label[for='file'] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--half-padding);
  width: 100%;
  background-color: var(--color-canvas-darker);
  border-radius: var(--default-border-radius);
}
#new-file-dialog label[for='file']:hover {
  background-color: var(--color-canvas-even-darker);
}
#new-file-dialog label[for='file'] img {
  align-self: center;
  --size: 4rem;
  height: var(--size);
  width: var(--size);
}

.close-dialog-btn {
  align-self: end;
}
