*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  color: inherit;
}

/* ------------------------------------------------------------------------------------------------ */

:root {
  /* colors */
  --color-canvas: #f3f4f6;
  --color-canvas-darker: #e2e8f0;
  --color-canvas-lighter: #ffffff;

  --color-text-co: #030712;

  --color-primary: #e17100;
  --color-primary-lighter: #fd9a00;
  --color-primary-even-lighter: #faab57;
  --color-primary-darker: #bb4d00;

  /* spacing */
  --half-padding: calc(var(--default-padding) / 2);
  --default-padding: 1rem;
  --double-padding: calc(var(--default-padding) * 2);

  /* style */
  --default-border-radius: 10px;
  --default-box-shadow: 2.5px 2.5px 10px 0px rgba(0, 0, 0, 0.1);

  /* transition */
  --default-transition-time: 0.2s;
}

/* ------------------------------------------------------------------------------------------------ */

#root {
  color: var(--color-text-co);
}
body {
  font-family: monospace;
  background-color: var(--color-canvas);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--double-padding);

  min-height: 100lvh;
}
b {
  display: inline;
  font-weight: bold;
}
svg {
  --size: 1em;
  height: var(--size);
  width: var(--size);

  fill: var(--color-text-co);
}
button {
  /* align-self: center; */

  background-color: var(--color-primary-lighter);
  border: none;

  padding: var(--half-padding) var(--default-padding);
  border-radius: var(--default-border-radius);

  cursor: pointer;

  outline: none;

  transition: var(--default-transition-time);
}
button:hover {
  background-color: var(--color-primary-even-lighter);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 1.6rem;
}
a {
  color: var(--color-primary-darker);
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--default-padding);

  width: 100%;
}
input {
  padding: calc(var(--half-padding) / 2) var(--half-padding);
}
.input-label-div {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.container-div {
  padding: var(--double-padding);

  border-radius: var(--default-border-radius);
  background-color: var(--color-canvas-lighter);
  box-shadow: var(--default-box-shadow);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--default-padding);

  padding: var(--half-padding) var(--double-padding);

  background-color: var(--color-canvas-darker);
}
nav > p {
  display: flex;
  align-items: center;
  gap: var(--default-padding);

  font-weight: bold;
}
nav > p img {
  height: 2rem;
}

.flex-horizontal {
  display: flex;
  align-items: center;
  gap: var(--default-padding);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  border: none;
  box-sizing: var(--default-box-shadow);
  outline: none;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5); /* darkens the page */
}
